---
layout: /layouts/base.html
---

<div class="container">
  <div class="main">
    <heading>
      <h1 class="title highlight">{{ title }}</h1>
      <p class="blog_post_date">{{ date | readablePostDate }}</p>
      <ul>
        <span>Tags: </span>
        {% for tag in tags %}
          <li class="blog_tags">
            <a href="/blog/tag/{{ tag | slugify }}">{{tag}}</a>
          </li>
        {% endfor %}
      </ul>
    </heading>
  <article>
  {{ content | safe}}
  </article>
</div>
  <a class="back_link" href="/">← Back to main blog</button>
</div>