@import url('./reset.css');
@import url('./variables.css');

body {
  font-family: "Lato", serif;
  background-color: var(--grey);
  color: var(--dark-blue);
}

a:visited {
  color: var(--dark-blue);
}

.main {
  margin-top: 4rem;
  min-height: calc(100vh - 12rem);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
}

.header {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    transition: height .3s ease,box-shadow .3s ease;
    z-index: 3;
    box-shadow: 0 0 1px rgb(0 0 0 / 25%);
}

.nav {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin: auto;
  padding: 0 1.5rem;
  transition: height .3s ease,box-shadow .3s ease;
}

.logo_image {
  max-width: 45px;
}

ul {
  padding-left: 0;
}

.links a {
  width: 100%;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  text-decoration: none;
  color: var(--dark-blue);
}

.links a:hover {
  color: var(--coral);
}

.card__container {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.5rem;
  align-items: flex-start;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  justify-content: center;
}

.card__container:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.card__title {
  font-size: 20px;
}

.card__link {
  text-decoration: none;
}

/* Blog post */

pre {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}

code {
  display: block;
  white-space : pre-wrap;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  top: 62%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: skewX(-10deg);
  background: var(--teal-light);
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

.blog_post_title {
  margin-bottom: 6px;
}

.blogPostImage {
  max-width: 600px;
}

.blogPostImage {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.blogPostImage:hover{
  border-radius: 15px;
}

.blog_post_date {
  font-size: 14px;
  margin-bottom: 20px;
  font-style: italic;
}

.blog_tags {
  list-style: none;
  display: inline;
  background-color: var(--coral-light);
  font-size: 14px;
  margin: 4px 5px 15px 0;
  padding: 4px 10px 6px 10px;
  border-radius: 10px;
}

.blog_tags a {
  color: var(--dark-blue);
  text-decoration: none;
}