:root {
    --dark-blue: #212121;
    --navy-blue: #0f4c81;
    --coral: #ed6663;
    --coral-light: rgba(237,102,99,0.6);
    --dark-red: hsl(343.6, 78.5%, 35.8%);
    --teal: #009688;
    --teal-light: rgba(0, 150, 136, 0.6);
    --grey: #f8f8f8;
  }